@import '_vars';
@import 'modules/navbar';

main {
    width: 100%;
    overflow: hidden;
    background-color: $bg-color;
    font-family: 'DIN Alternate';
    src: url('DIN Alternate Bold.woff')format('woff'),
    url('DIN Alternate Bold.woff2')format('woff2'); 

    @media screen and (min-width: 640px){
        font-family: 'DIN Alternate';
        src: url('DIN Alternate Bold.woff')format('woff'),
        url('DIN Alternate Bold.woff2')format('woff2');  
    }
}

.hidden { display: $hide; }

// Desktop Size

//slide
#mainSlide {   
    width: 100%;
    height: 100vh;
    background-image: url(../images/banner1.jpg);
    background-position: center center;
    background-size: cover;
    animation: fade 20s ease-in-out infinite;
}

#mainSlide::before {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 90vh;
    content: "";
    display: block;
    background: rgba(black, 0.4);
    z-index: 1;   
}

@keyframes fade {
    0% {background-image: url(../images/banner1.jpg);}
    25% {background-image: url(../images/banner2.jpg);}
    50% {background-image: url(../images/banner3.jpg);}
    75% {background-image: url(../images/banner4.jpg);}
}

//here's banner text 
.banner-text {
    width: 50vw;
    position: relative;
    top: 300px;
    left: 70px;
    z-index: 2;
    
    h2 {
        text-align: left; 
        color: $bg-color; 
        font-size: 4em; 
        letter-spacing: 3.5px;
        line-height: 1.25em;

        span {color: $main-color;}
    }
    
    .banner-bt {
        width: 385px; 
        height: 50px;
        background-color:$main-color;
        border-radius: 15px; 
        color: $black;
        font-size: 1.5em;
        margin-top: 30px;
        border: $hide;
        font-family: 'DIN Alternate';
    }
}

//Team page 
#team {
    width: 100%;
    height: 100vh;
    background-image: url(../images/team.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    h2 {
        text-align: center;
        width: 20%;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        background-color: #000;
        color: #fff;
        padding: 15px;
        margin: 0 auto;
        font-size: 3em;
        mix-blend-mode: multiply;
    }
}

//Our mission
#mission {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%; 
    padding: 50px 0;
    
    .mission-h2 {
        text-align: center;
        font-size: 2em;
        padding-bottom: 50px;
    }

    video { 
        display: block;
        width: 70%; 
        margin: 0 auto;
        height: auto; 
    }
}

//team info
#team-info {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;

    div {
        width: 25%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-position-x: -120px;
    }

    #Dil { background-image: url(../images/team_daffodil.jpg);}
    #Yoon { background-image: url(../images/team_soyoon.jpg);}
    #Sujin { background-image: url(../images/team_sujin.jpg);}
    #Jeff { background-image: url(../images/team_jeff.jpg);}
}

#team-work {
    width: 100%;
    height: 100vh;
    background-image: url(../images/work.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    h2 {
        text-align: center;
        width: 20%;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        background-color: #000;
        color: #fff;
        padding: 16px;
        margin: 0 auto;
        font-size: 3em;
        mix-blend-mode: multiply;
    }
}

#exWork {
    width: 100%;
    background-color: $bg-color;
    padding: 50px 0;

    h2 {
        width: 80%;
        margin: 0 auto;
        text-align: center; 
        font-size: 1.5em;  
        color: $black;
    }

    .cont {
        width:100%;
        padding: 0 0 50px;
        display:flex; 
        flex-flow: row wrap;
        justify-content: center;

        img {
            width: 40%;
            margin: 50px 25px 0;
            filter: drop-shadow(0 5px 5px black);
        }
    }
}

#contact-img {
    width: 100%;
    height: 100vh;
    background-image: url(../images/contact.jpg);
    background-position: center center;
    background-size: cover; 
    background-attachment: fixed;
    position: relative;

    h2 {
        text-align: center;
        width: 20%;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        background-color: #000;
        color: #fff;
        padding: 16px;
        margin: 0 auto;
        font-size: 3em;
        mix-blend-mode: multiply;
    }
}

#contact-form {

    h2 {
        color: $black; 
        text-align: center; 
        font-size: 1.5em;
        // letter-spacing: 3px; 
        padding-top: 50px;
    }
}

#form {
    width: 70%;
    margin: 0 auto;
    text-align: center;

    input {
        width: 100%; 
        height: 30px; 
        margin-top: 30px; 
        padding: 5px;
        border: solid $main-color 3px;
        font-family: 'DIN Alternate';
        font-size: 1.25em;
    }

    textarea {
        width: 100%; 
        height: 160px; 
        margin-top: 30px;
        padding: 5px;
        border: solid $main-color 3px;
        font-family: 'DIN Alternate';
        font-size: 1.25em;
    }
    
    .submit-btn {
        width: 160px;
        height: 45px;
        background-color: $main-color;
        color:$black;
        font-size: 1.2em;
        font-family: 'DIN Alternate';
        border: $hide;
        margin-top: 30px;
    }
}
        
@import 'modules/footer';

// Tablet Size
@media only screen and (min-width: 576px) and (max-width: 768px) {
    #mainSlide { background-position: center right; }
    
    .banner-text {
        width: 100%;
        position: relative;
        top: 420px;
        left: 0;
        text-align: center;
        
        h2 { text-align: center; }
    }

    //Team page
    #team h2 { 
        font-size: 2.85em;
        width: 40%;
        height: 50px;
    }

    //Our mission
    #mission {
        height: 100%; 
        padding: 50px 0;

        .mission-h2 {
            text-align: center;
            font-size: 2em;
            padding: 0 0 50px;
        }

        video { 
            display: block;
            width: 80%; 
            margin: 0 auto;
            height: auto;
        }
    }

    //team info
    #team-info {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: row;
        text-align: center;

        div {
            background-position-x: -50px;
        }
    }

    // Work examples
    #team-work h2 { 
        font-size: 2.85em;
        width: 40%;
        height: 50px;
    }

    #exWork {
        width: 100%;
        background-color: $bg-color;
    
        h2 {
            text-align: center; 
            font-size: 1.25em; 
            // letter-spacing: 2px; 
            padding-top: 50px; 
            color: $black;
        }
    
        .cont {
            width:100%;
            padding: 0 0 50px;
            display:flex; 
            flex-flow: row wrap;
            justify-content: center;
    
            img {
                width: 40%;
                margin: 50px 25px 0;
                filter: drop-shadow(0 5px 5px black);
            }
        }
    }

    #contact-img h2 { 
        font-size: 2.85em;
        width: 40%;
        height: 50px;
    }

    #contact-form {

        h2 {
            color: $black; 
            text-align: center; 
            font-size: 1.5em;
            letter-spacing: 3px; 
            padding-top: 50px;
        }
    }
    
    #form {
        width: 80%;
    
        input {
            height: 25px; 
            font-size: 1.25em;
        }
    
        textarea {
            height: 125px; 
            font-size: 1.25em;
        }
    }
}

// Mobile Size
@media only screen and (max-width: 575px) {
    #mainSlide { background-position: center right; }
    
    .banner-text {
        width: 100%;
        position: relative;
        top: 220px;
        left: 0;
        text-align: center;
        
        h2 { 
            text-align: center;
            font-size: 1.75em; 
        }

        .banner-bt {
            width: 70%; 
            height: 35px;
            background-color:$main-color;
            border-radius: 15px; 
            color: $black;
            font-size: 1em;
            margin-top: 15px;
            border: $hide;
            font-family: 'DIN Alternate';
        }
    }

    //Team page 
    #team h2 { 
        font-size: 2em;
        width: 40%;
        height: 35px;
    }

    //Our mission
    #mission {
        height: 100%; 

        .mission-h2 {
            text-align: center;
            font-size: 1em;
            padding: 30px 0;
        }

        video { 
            display: block;
            width: 100%; 
            margin: 0 auto;
            height: auto;
        }
    }

    //team info
    #team-info {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        div { 
            width: 100%;
            height: 300px; 
            overflow: hidden;
            background-position-x: 0;
        }
    }

    // Work examples
    #team-work h2 { 
        font-size: 2em;
        width: 40%;
        height: 35px;
    }

    #exWork {
        width: 100%;
        background-color: $bg-color;
    
        h2 {
            text-align: center; 
            font-size: 1.25em; 
            // letter-spacing: 2px; 
            padding-top: 50px; 
            color: $black;
        }
    
        .cont {
            width:100%;
            padding: 0 0 50px;
            display:flex; 
            flex-direction: row; 
            flex-wrap: wrap;
    
            img {
                width: 80%;
                margin: 50px auto 0;
                filter: drop-shadow(0 5px 5px black);
            }
        }
    }

    // contact
    #contact-img h2 { 
        font-size: 2em;
        width: 40%;
        height: 35px;
    }

    #contact-form {

        h2 {
            font-size: 1em; 
            padding-top: 50px;
        }
    }
    
    #form {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    
        input {
            height: 15px; 
            font-size: 0.75em;
            margin-top: 15px;
            border: solid $main-color 1px;
            padding: 2px;
        }
    
        textarea {
            height: 75px; 
            font-size: 0.75em;
            margin-top: 15px;
            border: solid $main-color 1px;
            padding: 2px;
        }

        .submit-btn {
            width: 90px;
            height: 25px;
            font-size: 0.75em;
            margin-top: 15px;
        }
    }
}

