header {
    width: 100%;
    height: 10vh;
    background-color: #fdfdff;
    display: flex;
    position: fixed;
    z-index: 3;

    #logo {
        width: 40%;
        margin: auto;
        transition: .3s;
        &:hover {
          cursor: pointer;transform: scale(1.03);;
        }

        img { width: 40%; }
    }
}

#mainNav {
    width: 40%;
    margin: 0 auto;

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        li{
          transition: .3s;
          &:hover {
            transform: scale(1.05);
          }

          a{
            color: #313839;
            font-size: 1.5em;
            text-decoration: none;
            padding-left:  60px;
            text-transform: uppercase;
            line-height: 10vh;
            cursor: pointer;
          }
        }
    }
}

// media query will take some time
@media only screen and (min-width: 576px) and (max-width: 768px) {
    #logo img {
        width: 60%;
    }
}
